<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
        <title>{% block title %}{% endblock %} - Valens</title>
    </head>
    <body>
        <section class="hero is-small is-success">
            <div class="hero-body">
                <div class="container is-max-desktop">
                    <div class="columns is-mobile">
                        <div class="column is-2">
                            {% if parent_page is defined %}
                            <a href="{{ url_for(parent_page) }}" class="title">&#10094;</a>
                            {% endif %}
                        </div>
                        <div class="column">
                            <h1 class="title">{% block content_title %}{% endblock %}</h1>
                            <h1 class="subtitle">{{ session['username'] if 'username' in session else '' }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container is-max-desktop">
                {% if notification %}
                <div class="notification">{{ notification }}</div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </section>
    </body>
</html>
