<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
        <title>{% block title %}{% endblock %} - Valens</title>
    </head>
    <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top is-success">
            <div class="navbar-brand">
                {% if parent_page is defined %}
                <a href="{{ url_for(parent_page) }}" class="navbar-item has-text-light has-text-weight-bold is-size-5">&#10094;</a>
                {% else %}
                <a class="navbar-item has-text-success has-text-weight-bold is-size-5">&#10094;</a>
                {% endif %}
                <div class="navbar-item has-text-light has-text-weight-bold is-size-5">
                    {% block content_title %}{% endblock %}
                </div>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    {% if 'username' in session %}
                    <div class="navbar-item">
                        <span class="tag is-rounded has-text-success has-text-weight-bold is-family-monospace">{{ session['username'][0] }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container is-max-desktop py-4">
            {% if notification %}
            <div class="notification">{{ notification }}</div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
