{% extends "base.html" %}

{% from "macros.html" import diagram with context %}

{% block title %}Bodyweight{% endblock %}

{% block content_title %}Bodyweight{% endblock %}

{% block content %}
{{ diagram("bodyweight", periods, current, previous, next) }}
<div class="container has-text-centered">
    <form action="bodyweight" method="post">
        <input class="input" style="width: 40%" type="date" name="date" value="{{ today }}" required="required" />
        <input class="input" style="width: 30%" type="number" name="weight" min="0" step="0.1" placeholder="weight (kg)" required="required" />
        <input class="button is-success" style="width: 25%" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
