{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content_title %}{{ name }}{% endblock %}

{% block content %}
<form action="{{ delete_target }}" method="post">
    <div class="container has-text-centered mx-2">
        <article class="message is-danger">
            <div class="message-header">
                <p>Delete the {{ element }}?</p>
            </div>
            <div class="message-body">
                The {{ element }} and all elements that depend on it will be permanently deleted.
                <div class="container mt-4">
                    <a class="button" href="{{cancel_target}}">No</a>
                    <button class="button is-danger" type="submit">Yes, delete</button>
                </div>
            </div>
        </article>
    </div>
</form>
{% endblock %}
