{% extends "base.html" %}

{% from "macros.html" import diagram with context %}

{% block title %}{{ exercise }} - Exercise{% endblock %}

{% block content_title %}{{ exercise }}{% endblock %}

{% block content %}
{{ diagram('exercise', intervals, current, exercise) }}
<div class="table-container mt-4">
    <table class="table is-fullwidth is-narrow is-striped has-text-centered">
        <thead>
            <tr>
                <th>Date</th>
                <th><abbr title="Average repetitions">Reps</abbr></th>
                <th><abbr title="Average time">Time</abbr></th>
                <th><abbr title="Average weight">Weight</abbr></th>
                <th><abbr title="Average rating of perceived exertion">RPE</abbr></th>
                <th><abbr title="Average reps + reps in Reserve">Reps+RIR</abbr></th>
                <th><abbr title="Total of reps">Volume</abbr></th>
                <th><abbr title="Total time under tension">TUT</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for workout_id, date, reps, time, weight, rpe, reps_rir, tut, volume in workouts %}
            <tr>
                <td><a href="{{ url_for('workout_view', workout_id=workout_id) }}">{{ date }}</a></td>
                <td>{{ reps }}</td>
                <td>{{ time }}</td>
                <td>{{ weight }}</td>
                <td>{{ rpe }}</td>
                <td>{{ reps_rir }}</td>
                <td>{{ volume|int }}</td>
                <td>{{ tut|int }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container has-text-centered mt-6">
    <form action="{{ exercise }}?first={{ current.first }}&last={{ current.last }}" method="post">
        <input class="input" style="width: 40%" type="text" name="new_name" value="{{ exercise }}" required="required" />
        <input class="button is-success" style="width: 25%" type="submit" value="Rename" />
    </form>
</div>
{% endblock %}

{% set parent_page = 'exercises_view' %}
