{% extends "base.html" %}

{% block head %}
        <script src="{{ url_for('static', filename='js/register-sw.js') }}"></script>
{% endblock %}

{% block title %}Index{% endblock %}

{% block content_title %}Valens{% endblock %}

{% block content %}
<div class="tile is-ancestor is-vertical mx-0">
    {% for href, title, subtitle, content in navigation %}
    <a class="tile is-parent" href="{{ href }}">
        <div class="tile is-child box">
            <p class="title is-size-4 has-text-success">{{ title }}</p>
            {% if subtitle %}<p class="subtitle is-size-5">{{ subtitle }}</p>{% endif %}
            {% if content %}<div class="content">{{ content|safe }}</div>{% endif %}
        </div>
    </a>
    {% endfor %}
    <div class="content has-text-centered mt-6">
        <a class="button" href="{{ url_for("logout_view") }}">Switch user</a>
    </div>
</div>
{% endblock %}
