{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content_title %}{{ name }}{% endblock %}

{% block content %}
<form action="{{ target }}" method="post">
    <div class="field has-addons has-addons-centered mx-2">
        <div class="control">
            <input class="input" type="text" name="new_name" value="{{ name }}" required="required" />
        </div>
        <div class="control">
            <button class="button is-success">{{ button_text }}</button>
        </div>
    </div>
</form>
{% endblock %}
