{% extends "base.html" %}

{% block title %}Routines{% endblock %}

{% block content_title %}Routines{% endblock %}

{% block content %}
<div class="container has-text-centered">
    <form action="{{ url_for('routines_route') }}" method="post">
        <input class="input" style="width: 70%" type="text" name="name" placeholder="New routine name" required="required" />
        <input class="button is-success" style="width: 25%" type="submit" value="Create" />
    </form>
</div>
<div class="container has-text-centered mt-4">
    {% for name in routines %}
    <div class="column"><a class="button" href="{{ url_for('routine_route', name=name) }}">{{ name }}</a></div>
    {% endfor %}
</div>
{% endblock %}
