{% extends "base.html" %}

{% block title %}Workout on {{ date }}{% endblock %}

{% block content_title %}Workout&nbsp;{% if routine %}<a href="{{ url_for('routine_view', name=routine.name) }}">{{ routine.name }}</a>&nbsp;{% endif %}on&nbsp;<span style="white-space: nowrap;">{{ date }}</span>{% endblock %}

{% block content %}
<div class="container mx-2">
    <form action="{{ url_for('workout_view', workout_id=workout_id) }}" method="post">
        {% for exercise, sets in workout %}
        <div class="field">
            <label class="label"><a href="{{ url_for('exercise_view', name=exercise) }}" tabindex="-1">{{ exercise }}</a></label>
            {% set exercise_loop = loop %}
            {% for (reps, time, weight, rpe), (prev_reps, prev_time, prev_weight, prev_rpe) in sets %}
            {% set input_name = "set" ~ exercise_loop.index ~ "." ~ loop.index %}
            <div class="field has-addons">
                <div class="control has-icons-right has-text-right">
                    <input class="input has-text-right" type="number" name="{{ input_name }}" value="{{ reps | int("") }}" placeholder="{{ prev_reps | int("") }}" min=0 max=999 step="1" size="2" />
                    <span class="icon is-small is-right">
                        &#10005;
                    </span>
                </div>
                <div class="control has-icons-right has-text-right">
                    <input class="input has-text-right" type="number" name="{{ input_name }}" value="{{ time | int("") }}" placeholder="{{ prev_time | int("") }}" min=0 max=999 step="1" size="2" />
                    <span class="icon is-small is-right">
                        s
                    </span>
                </div>
                <div class="control has-icons-right has-text-right">
                    <input class="input has-text-right" type="number" name="{{ input_name }}" value="{{ weight | float | replace("nan", "") }}" placeholder="{{ prev_weight | float | replace("nan", "") }}" min=0 max=999 step="0.1" size="3" />
                    <span class="icon is-small is-right">
                        kg
                    </span>
                </div>
                <div class="control has-icons-left has-text-right">
                    <span class="icon is-small is-left">
                        @
                    </span>
                    <input class="input has-text-right" type="number" name="{{ input_name }}" value="{{ rpe | float | replace("nan", "") }}" placeholder="{{ prev_rpe | float | replace("nan", "") }}" min=0 max=10 step="0.5" size="2" />
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="field">
            <label class="label">Notes</label>
            <textarea class="textarea" name="notes">{{ notes }}</textarea>
        </div>
        <div class="navbar is-fixed-bottom is-transparent">
            <div class="navbar-end container is-max-desktop has-text-right p-5">
                <button class="button is-success">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% set parent_page = 'workouts_view' %}
